
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <a href="https://github.com/Syrym-Joli/Lineage"><img style="position: absolute; top: 0; right: 0; border: 0; right: 15px;" src="~/Content/assets/img/forkme_right_green_007200.png" alt="Fork me on GitHub" data-canonical-src="~/Content/assets/img/forkme_right_green_007200.png"></a>
            <div class="panel panel-default" id="infoAbout">
                <div class="panel-heading">
                    <h1 class="about">
                        О разработчике проекта <span class="label label-success">Lineage</span>
                    </h1>
                </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-md-3">
                            <center>
                                <img src="~/Content/assets/img/about.jpg" alt="avatar" class="img-rounded">
                            </center>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <address>
                                <b>Syrym Joli</b><br>
                                <a href="mailto:#">Syrym.Joli@gmail.com</a>
                            </address>
                            <address>
                                <strong>ANS, Inc.</strong><br>
                                Kazakhstan, <br>
                                Astana<br>
                                <abbr title="Phone">Phone:</abbr> +7(776) 116-7777
                            </address>
                        </div>
                        <div class="col-xs-14 col-md-2">
                            <a href="https://vk.com/syrym_joli"><img src="~/Content/assets/ico/VK.com_64px.png" alt="vk" class="img-circle"></a>
                            <a href="https://www.facebook.com/Syrym.Joli"><img src="~/Content/assets/ico/Facebook_64px.png" alt="fb" class="img-circle"></a>
                            <a href="https://www.instagram.com/syrym.joli/"><img src="~/Content/assets/ico/Instagram_64px.png" alt="insta" class="img-circle"></a>
                            <a href="https://twitter.com/SyrymJoli"><img src="~/Content/assets/ico/Twitter_64px.png" alt="twit" class="img-circle"></a>
                        </div>
                    </div>
            </div>

        </div>
    </div>



    <div class="row1" id="sabrow">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="/holder.js/300x200" alt="300x200" src="~/Content/assets/img/tSBA1Hwy2wI.jpg" style="width: 300px; height: 200px;">
                <div class="caption">
                    <h2>NaviBaik</h2>
                    <p>о проекте... карта</p>
                    <p><a href="#" class="btn btn-default" role="button">Подробно</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row2" id="sabrow">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="/holder.js/300x200" alt="300x200" src="~/Content/assets/img/1300x200.svg" style="width: 300px; height: 200px;">
                <div class="caption">
                    <h2>PIM</h2>
                    <p>о проекте... аватарки</p>
                    <p><a href="#" class="btn btn-default" role="button">Подробно</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row3" id="sabrow">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="/holder.js/300x200" alt="300x200" src="~/Content/assets/img/1300x200.svg" style="width: 300px; height: 200px;">
                <div class="caption">
                    <h2>lineage</h2>
                    <p>о проекте...</p>
                    <p><a href="#" class="btn btn-default" role="button">Подробно</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row4" id="sabrow">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="/holder.js/300x200" alt="300x200" src="~/Content/assets/img/1300x200.svg" style="width: 300px; height: 200px;">
                <div class="caption">
                    <h2>New</h2>
                    <p>о проекте...</p>
                    <p><a href="#" class="btn btn-default" role="button">Подробно</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
