
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
    <meta name="viewport" content="width=100%, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/map.css" rel="stylesheet" />
    <link href="~/Content/mapplic.css" rel="stylesheet" />
</head>

<body>
    <div id="mapplic"></div>
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/hammer.min.js"></script>
    <script src="~/Scripts/jquery.easing.js"></script>
    <script src="~/Scripts/jquery.mousewheel.js"></script>
    <script src="~/Scripts/mapplic.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){
	    $('#mapplic').mapplic({
		    source: 'locations.json',
		    height:420
	    });
    });

    </script>
</body>
</html>

