@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- фон -->
<div id="particles-js"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="jumbotron">
                <img src="~/Content/assets/ico/Logo Lineage300x82.png" alt="logo">
                <p class="textNext">| Происхождение</p>
                <p>“Lineage” предназначена для будущих поколений.</p>
                <p>Её главная задача показать будущему поколению родственную связь.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="components.php/#navbar" role="button">Руководство &raquo;</a>
                </p>
            </div>
        </div>
    </div>

        <!-- Panel Treant -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">пример Генеалогическое древо</div>
                        <div class="panel-body">
                            <!-- Treant -->
                            <div class="chart" id="custom-colored"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/Scripts/treant/vendor/raphael.js"></script>
    <script src="~/Scripts/treant/Treant.js"></script>
    <script src="~/Scripts/treant/Treant.min.js"></script>

    <!-- particles.js lib -->
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/Scripts/particles.js"></script>

    <script>
        new Treant(chart_config)
    </script>
